* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderCol {
    border: 1px solid black;
}

.headerCont {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
}


.sideBar {
    display: flex;
    flex-direction: row;
}

.sideBarItem1 {
    height: 400px;
    width: 800px;
}

.sideBarItem2 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
}

.sideBarItem2 div{
    height: 100px;
}

.underContentItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}


.onFootContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}